In [1]:
import pandas as pd
import bokeh

In [2]:
ncwit = pd.read_csv('NCWIT_DataV2_RawData.csv')

/home/shantanu/jupyterstuff/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ncwit

,Record#,CIP# Only,Major Program Name,Degree Level,NCWIT Participant,Institution,What degrees does your institution offer?,School Year,When do students typically declare their major?,"Enroll, Female: Avg. ACT Math Score (Enrl F)",...,Nonresident Alien (Min. M).1,Race/Ethnicity Unknown (Min. M).1,Nonresident Alien (Min. F).2,Race/Ethnicity Unknown (Min. F).2,Nonresident Alien (Min. M).2,Race/Ethnicity Unknown (Min. M).2,Nonresident Alien (Tot. F),Race/Ethnicity Unknown (Tot. F),Nonresident Alien (Tot. M),Race/Ethnicity Unknown (Tot. M)
0,1231,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456,Bachelor's and master's degrees only,2005-2006,End of 2nd Year,27.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1232,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456,Bachelor's and master's degrees only,2006-2007,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1233,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456,Bachelor's and master's degrees only,2007-2008,End of 2nd Year,27.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1234,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456,Bachelor's and master's degrees only,2008-2009,End of 2nd Year,31.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1235,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456,Bachelor's and master's degrees only,2009-2010,End of 2nd Year,27.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1236,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456,Bachelor's and master's degrees only,2010-2011,End of 2nd Year,24.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1237,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456,Bachelor's and master's degrees only,2011-2012,End of 2nd Year,26.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1498,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128,"Bachelor's, master's, and Ph.D. degrees",2004-2005,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1499,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128,"Bachelor's, master's, and Ph.D. degrees",2005-2006,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1500,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128,"Bachelor's, master's, and Ph.D. degrees",2006-2007,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1501,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128,"Bachelor's, master's, and Ph.D. degrees",2007-2008,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1502,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128,"Bachelor's, master's, and Ph.D. degrees",2008-2009,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1503,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128,"Bachelor's, master's, and Ph.D. degrees",2009-2010,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2049,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",128,"Bachelor's, master's, and Ph.D. degrees",2010-2011,Upon Enrollment,28.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2050,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",128,"Bachelor's, master's, and Ph.D. degrees",2011-2012,Upon Enrollment,28.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2051,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",128,"Bachelor's, master's, and Ph.D. degrees",2012-2013,Upon Enrollment,29.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2052,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",128,"Bachelor's, master's, and Ph.D. degrees",2013-2014,Upon Enrollment,30.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2079,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88,"Bachelor's, master's, and Ph.D. degrees",2008-2009,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2080,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88,"Bachelor's, master's, and Ph.D. degrees",2009-2010,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2081,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88,"Bachelor's, master's, and Ph.D. degrees",2010-2011,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13.0,6.0,94.0,69.0
20,2082,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88,"Bachelor's, master's, and Ph.D. degrees",2011-2012,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,7.0,116.0,56.0
21,2083,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88,"Bachelor's, master's, and Ph.D. degrees",2012-2013,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,22.0,6.0,123.0,52.0
22,2084,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88,"Bachelor's, master's, and Ph.D. degrees",2013-2014,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,30.0,7.0,145.0,56.0
23,2085,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88,"Bachelor's, master's, and Ph.D. degrees",2014-2015,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,29.0,9.0,152.0,60.0
24,2168,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21,"Bachelor's, master's, and Ph.D. degrees",2004-2005,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2169,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21,"Bachelor's, master's, and Ph.D. degrees",2005-2006,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2170,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21,"Bachelor's, master's, and Ph.D. degrees",2006-2007,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2171,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21,"Bachelor's, master's, and Ph.D. degrees",2007-2008,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2172,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21,"Bachelor's, master's, and Ph.D. degrees",2008-2009,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2173,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21,"Bachelor's, master's, and Ph.D. degrees",2009-2010,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,3736,52.1200,Management Information Systems,Bachelor's,Academic Alliance,206,NaN,2004-2005,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2876,3737,52.1200,Management Information Systems,Bachelor's,Academic Alliance,206,NaN,2005-2006,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2877,3738,52.1200,Management Information Systems,Bachelor's,Academic Alliance,206,NaN,2006-2007,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2878,3739,52.1200,Management Information Systems,Bachelor's,Academic Alliance,206,NaN,2007-2008,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2879,3740,52.1200,Management Information Systems,Bachelor's,Academic Alliance,206,NaN,2008-2009,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2880,3741,52.1200,Management Information Systems,Bachelor's,Academic Alliance,206,NaN,2009-2010,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2881,3742,52.1200,Management Information Systems,Bachelor's,Academic Alliance,206,NaN,2010-2011,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2882,3743,52.1200,Management Information Systems,Bachelor's,Academic Alliance,206,NaN,2011-2012,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2883,4317,52.1200,Management Information Systems,Bachelor's,Academic Alliance,110,"Bachelor's, master's, and Ph.D. degrees",2015-2016,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2884,4513,52.1200,Management Information Systems,Bachelor's,Academic Alliance,464,Bachelor's degrees only,2015-2016,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,8.0,NaN
2885,4561,52.1200,Management Information Systems,Bachelor's,Academic Alliance,295,Bachelor's and master's degrees only,2014-2015,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,3.0,0.0
2886,4642,52.1200,Management Information Systems,Bachelor's,Academic Alliance,134,"Bachelor's, master's, and Ph.D. degrees",2015-2016,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,20.0
2887,4712,52.1200,Management Information Systems,Bachelor's,Academic Alliance,206,Bachelor's and master's degrees only,2014-2015,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,26.0,8.0
2888,4713,52.1200,Management Information Systems,Bachelor's,Academic Alliance,143,Bachelor's and master's degrees only,2015-2016,Other,22.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2889,4763,52.1200,Management Information Systems,Bachelor's,Academic Alliance,116,Bachelor's degrees only,2015-2016,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2890,4805,52.1200,Management Information Systems,Bachelor's,Academic Alliance,120,Bachelor's and master's degrees only,2011-2012,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2891,4806,52.1200,Management Information Systems,Bachelor's,Academic Alliance,120,Bachelor's and master's degrees only,2012-2013,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2892,4808,52.1200,Management Information Systems,Bachelor's,Academic Alliance,120,Bachelor's and master's degrees only,2013-2014,Other,21.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2893,4809,52.1200,Management Information Systems,Bachelor's,Academic Alliance,120,Bachelor's and master's degrees only,2014-2015,Other,18.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2894,4946,52.1200,Management Information Systems,Bachelor's,Academic Alliance,110,"Bachelor's, master's, and Ph.D. degrees",2012-2013,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,4.0,0.0
2895,4947,52.1200,Management Information Systems,Bachelor's,Academic Alliance,110,"Bachelor's, master's, and Ph.D. degrees",2013-2014,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,1.0,1.0
2896,4948,52.1200,Management Information Systems,Bachelor's,Academic Alliance,110,"Bachelor's, master's, and Ph.D. degrees",2014-2015,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
2897,5022,52.1200,Management Information Systems,Bachelor's,Academic Alliance,270,"Bachelor's, master's, and Ph.D. degrees",2012-2013,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,7.0,NaN
2898,5023,52.1200,Management Information Systems,Bachelor's,Academic Alliance,270,"Bachelor's, master's, and Ph.D. degrees",2013-2014,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0
2899,5024,52.1200,Management Information Systems,Bachelor's,Academic Alliance,270,"Bachelor's, master's, and Ph.D. degrees",2014-2015,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,1.0,10.0,8.0
2900,5025,52.1200,Management Information Systems,Bachelor's,Academic Alliance,270,"Bachelor's, master's, and Ph.D. degrees",2015-2016,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,15.0,11.0
2901,5026,52.1200,Management Information Systems,Bachelor's,Academic Alliance,270,"Bachelor's, master's, and Ph.D. degrees",2016-2017,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0,11.0,18.0
2902,3468,?,NaN,NaN,Academic Alliance,402,"Bachelor's, master's, and Ph.D. degrees",2004-2005,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2903,3469,?,NaN,NaN,Academic Alliance,402,"Bachelor's, master's, and Ph.D. degrees",2005-2006,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2904,3470,?,NaN,NaN,Academic Alliance,402,"Bachelor's, master's, and Ph.D. degrees",2006-2007,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
list(ncwit)

['Record#',
 'CIP# Only',
 'Major Program Name',
 'Degree Level',
 'NCWIT Participant',
 'Institution',
 'What degrees does your institution offer?',
 'School Year',
 'When do students typically declare their major?',
 'Enroll, Female: Avg. ACT Math Score (Enrl F)',
 'Enroll, Female: Asian (Enrl F)',
 'Enroll, Female: Average Age (Enrl F)',
 'Enroll, Female: Average HS GPA (Enrl F)',
 'Enroll, Female: Avg. SAT Math Score (Enrl F)',
 'Enroll, Female: Black/African American (Enrl F)',
 'Enroll, Female: Hispanics of any race (Enrl F)',
 'Enroll, Female: American Indian/Alaska Native (Enrl F)',
 'Enroll, Female: Native Hawaiian/Other Pacific Islander (Enrl F)',
 'Enroll, Female: Two or more races (Enrl F)',
 'Enroll, Female: New Enrollments (Enrl F)',
 'Enroll, Female: Transfer Students (Enrl F)',
 'Enroll, Female: US Citizens (Enrl F)',
 'Enroll, Female: White (Enrl F)',
 'Enroll, Male: Avg. ACT Math Score (Enrl M)',
 'Enroll, Male: Asian (Enrl M)',
 'Enroll, Male: Average Age (Enrl M)',
 'Enroll, Male: Average HS GPA (Enrl M)',
 'Enroll, Male: Avg. SAT Math Score (Enrl M)',
 'Enroll, Male: Black/African American (Enrl M)',
 'Enroll, Male: Hispanics of any race (Enrl M)',
 'Enroll, Male: American Indian/Alaska Native (Enrl M)',
 'Enroll, Male: Native Hawaiian/Other Pacific Islander (Enrl M)',
 'Enroll, Male: Two or more races (Enrl M)',
 'Enroll, Male: New Enrollments (Enrl M)',
 'Enroll, Male: Transfer Students (Enrl M)',
 'Enroll, Male: US Citizens (Enrl M)',
 'Enroll, Male: White (Enrl M)',
 'Freshmen, Female: Asian (Fshm F)',
 'Freshmen, Female: Black/African American (Fshm F)',
 'Freshmen, Female: Cumulative GPA (Fshm F)',
 'Freshmen, Female: Enrolled in DIFFERENT MAJOR (Fshm F)',
 'Freshmen, Female: Enrolled in SAME MAJOR (Fshm F)',
 'Freshmen, Female: Graduated (Fshm F)',
 'Freshmen, Female: Hispanics of any race (Fshm F)',
 'Freshmen, Female: Left Institution (not graduated) (Fshm F)',
 'Freshmen, Female: American Indian/Alaska Native (Fshm F)',
 'Freshmen, Female: Native Hawaiian/Other Pacific Islander (Fshm F)',
 'Freshmen, Female: Two or more races (Fshm F)',
 'Freshmen, Female: Total Declared Majors (Fshm F)',
 'Freshmen, Female: US Citizens (Fshm F)',
 'Freshmen, Female: White (Fshm F)',
 'Freshmen, Male: Asian (Fshm M)',
 'Freshmen, Male: Black/African American (Fshm M)',
 'Freshmen, Male: Cumulative GPA (Fshm M)',
 'Freshmen, Male: Enrolled in DIFFERENT MAJOR (Fshm M)',
 'Freshmen, Male: Enrolled in SAME MAJOR (Fshm M)',
 'Freshmen, Male: Graduated (Fshm M)',
 'Freshmen, Male: Hispanics of any race (Fshm M)',
 'Freshmen, Male: Left Institution (not graduated) (Fshm M)',
 'Freshmen, Male: American Indian/Alaska Native (Fshm M)',
 'Freshmen, Male: Native Hawaiian/Other Pacific Islander (Fshm M)',
 'Freshmen, Male: Two or more races (Fshm M)',
 'Freshmen, Male: Total Declared Majors (Fshm M)',
 'Freshmen, Male: US Citizens (Fshm M)',
 'Freshmen, Male: White (Fshm M)',
 'Sophomores, Female: Asian (Sph. F)',
 'Sophomores, Female: Black/African American (Sph. F)',
 'Sophomores, Female: Cumulative GPA (Sph. F)',
 'Sophomores, Female: Enrolled in DIFFERENT MAJOR (Sph. F)',
 'Sophomores, Female: Enrolled in SAME MAJOR (Sph. F)',
 'Sophomores, Female: Graduated (Sph. F)',
 'Sophomores, Female: Hispanics of any race (Sph. F)',
 'Sophomores, Female: Left Institution (not graduated) (Sph. F)',
 'Sophomores, Female: American Indian/Alaska Native (Sph. F)',
 'Sophomores, Female: Native Hawaiian/Other Pacific Islander (Sph. F)',
 'Sophomores, Female: Two or more races (Sph. F)',
 'Sophomores, Female: Total Declared Majors (Sph. F)',
 'Sophomores, Female: US Citizens (Sph. F)',
 'Sophomores, Female: White (Sph. F)',
 'Sophomores, Male: Asian (Sph. M)',
 'Sophomores, Male: Black/African American (Sph. M)',
 'Sophomores, Male: Cumulative GPA (Sph. M)',
 'Sophomores, Male: Enrolled in DIFFERENT MAJOR (Sph. M)',
 'Sophomores, Male: Enrolled in SAME MAJOR (Sph. M)',
 'Sophomores, Male: Graduated (Sph. M)',
 'Sophomores, Male: Hispanics of any race (Sph. M)',
 'Sophomores, Male: Left Institution (not graduated) (Sph. M)',
 'Sophomores, Male: American Indian/Alaska Native (Sph. M)',
 'Sophomores, Male: Native Hawaiian/Other Pacific Islander (Sph. M)',
 'Sophomores, Male: Two or more races (Sph. M)',
 'Sophomores, Male: Total Declared Majors (Sph. M)',
 'Sophomores, Male: US Citizens (Sph. M)',
 'Sophomores, Male: White (Sph. M)',
 'Juniors, Female: Asian (Jun. F)',
 'Juniors, Female: Black/African American (Jun. F)',
 'Juniors, Female: Cumulative GPA (Jun. F)',
 'Juniors, Female: Enrolled in DIFFERENT MAJOR (Jun. F)',
 'Juniors, Female: Enrolled in SAME MAJOR (Jun. F)',
 'Juniors, Female: Graduated (Jun. F)',
 'Juniors, Female: Hispanics of any race (Jun. F)',
 'Juniors, Female: Left Institution (not graduated) (Jun. F)',
 'Juniors, Female: American Indian/Alaska Native (Jun. F)',
 'Juniors, Female: Native Hawaiian/Other Pacific Islander (Jun. F)',
 'Juniors, Female: Two or more races (Jun. F)',
 'Juniors, Female: Total Declared Majors (Jun. F)',
 'Juniors, Female: US Citizens (Jun. F)',
 'Juniors, Female: White (Jun. F)',
 'Juniors, Male: Asian (Jun. M)',
 'Juniors, Male: Black/African American (Jun. M)',
 'Juniors, Male: Cumulative GPA (Jun. M)',
 'Juniors, Male: Enrolled in DIFFERENT MAJOR (Jun. M)',
 'Juniors, Male: Enrolled in SAME MAJOR (Jun. M)',
 'Juniors, Male: Graduated (Jun. M)',
 'Juniors, Male: Hispanics of any race (Jun. M)',
 'Juniors, Male: Left Institution (not graduated) (Jun. M)',
 'Juniors, Male: American Indian/Alaska Native (Jun. M)',
 'Juniors, Male: Native Hawaiian/Other Pacific Islander (Jun. M)',
 'Juniors, Male: Two or more races (Jun. M)',
 'Juniors, Male: Total Declared Majors (Jun. M)',
 'Juniors, Male: US Citizens (Jun. M)',
 'Juniors, Male: White (Jun. M)',
 'Seniors, Female: Asian (Sen. F)',
 'Seniors, Female: Black/African American (Sen. F)',
 'Seniors, Female: Cumulative GPA (Sen. F)',
 'Seniors, Female: Enrolled in DIFFERENT MAJOR (Sen. F)',
 'Seniors, Female: Enrolled in SAME MAJOR (Sen. F)',
 'Seniors, Female: Graduated (Sen. F)',
 'Seniors, Female: Hispanics of any race (Sen. F)',
 'Seniors, Female: Left Institution (not graduated) (Sen. F)',
 'Seniors, Female: American Indian/Alaska Native (Sen. F)',
 'Seniors, Female: Native Hawaiian/Other Pacific Islander (Sen. F)',
 'Seniors, Female: Two or more races (Sen. F)',
 'Seniors, Female: Total Declared Majors (Sen. F)',
 'Seniors, Female: US Citizens (Sen. F)',
 'Seniors, Female: White (Sen. F)',
 'Seniors, Male: Asian (Sen. M)',
 'Seniors, Male: Black/African American (Sen. M)',
 'Seniors, Male: Cumulative GPA (Sen. M)',
 'Seniors, Male: Enrolled in DIFFERENT MAJOR (Sen. M)',
 'Seniors, Male: Enrolled in SAME MAJOR (Sen. M)',
 'Seniors, Male: Graduated (Sen. M)',
 'Seniors, Male: Hispanics of any race (Sen. M)',
 'Seniors, Male: Left Institution (not graduated) (Sen. M)',
 'Seniors, Male: American Indian/Alaska Native (Sen. M)',
 'Seniors, Male: Native Hawaiian/Other Pacific Islander (Sen. M)',
 'Seniors, Male: Two or more races (Sen. M)',
 'Seniors, Male: Total Declared Majors (Sen. M)',
 'Seniors, Male: US Citizens (Sen. M)',
 'Seniors, Male: White (Sen. M)',
 '5th Yr Seniors, Female: Asian (5 Sen F)',
 '5th Yr Seniors, Female: Black/African American (5 Sen F)',
 '5th Yr Seniors, Female: Cumulative GPA (5 Sen F)',
 '5th Yr Seniors, Female: Enrolled in DIFFERENT MAJOR (5 Sen F)',
 '5th Yr Seniors, Female: Enrolled in SAME MAJOR (5 Sen F)',
 '5th Yr Seniors, Female: Graduated (5 Sen F)',
 '5th Yr Seniors, Female: Hispanics of any race (5 Sen F)',
 '5th Yr Seniors, Female: Left Institution (not graduated) (5 Sen F)',
 '5th Yr Seniors, Female: American Indian/Alaska Native (5 Sen F)',
 '5th Yr Seniors, Female: Native Hawaiian/Other Pacific Islander (5 Sen F)',
 '5th Yr Seniors, Female: Two or more races (5 Sen F)',
 '5th Yr Seniors, Female: Total Declared Majors (5 Sen F)',
 '5th Yr Seniors, Female: US Citizens (5 Sen F)',
 '5th Yr Seniors, Female: White (5 Sen F)',
 '5th Yr Seniors, Male: Asian (5 Sen M)',
 '5th Yr Seniors, Male: Black/African American (5 Sen M)',
 '5th Yr Seniors, Male: Cumulative GPA (5 Sen M)',
 '5th Yr Seniors, Male: Enrolled in DIFFERENT MAJOR (5 Sen M)',
 '5th Yr Seniors, Male: Enrolled in SAME MAJOR (5 Sen M)',
 '5th Yr Seniors, Male: Graduated (5 Sen M)',
 '5th Yr Seniors, Male: Hispanics of any race (5 Sen M)',
 '5th Yr Seniors, Male: Left Institution (not graduated) (5 Sen M)',
 '5th Yr Seniors, Male: American Indian/Alaska Native (5 Sen M)',
 '5th Yr Seniors, Male: Native Hawaiian/Other Pacific Islander (5 Sen M)',
 '5th Yr Seniors, Male: Two or more races (5 Sen M)',
 '5th Yr Seniors, Male: Total Declared Majors (5 Sen M)',
 '5th Yr Seniors, Male: US Citizens (5 Sen M)',
 '5th Yr Seniors, Male: White (5 Sen M)',
 'Totals, Female: Asian (Tot. F)',
 'Totals, Female: Black/African American (Tot. F)',
 'Totals, Female: Cumulative GPA (Tot. F)',
 'Totals, Female: Enrolled in DIFFERENT MAJOR (Tot. F)',
 'Totals, Female: Enrolled in SAME MAJOR (Tot. F)',
 'Totals, Female: Graduated (Tot. F)',
 'Totals, Female: Hispanics of any race (Tot. F)',
 'Totals, Female: Left Institution (not graduated) (Tot. F)',
 'Totals, Female: American Indian/Alaska Native (Tot. F)',
 'Totals, Female: Native Hawaiian/Other Pacific Islander (Tot. F)',
 'Totals, Female: Two or more races (Tot. F)',
 'Totals, Female: Total Declared Majors (Tot. F)',
 'Totals, Female: US Citizens (Tot. F)',
 'Totals, Female: White (Tot. F)',
 'Totals, Male: Asian (Tot. M)',
 'Totals, Male: Black/African American (Tot. M)',
 'Totals, Male: Cumulative GPA (Tot. M)',
 'Totals, Male: Enrolled in DIFFERENT MAJOR (Tot. M)',
 'Totals, Male: Enrolled in SAME MAJOR (Tot. M)',
 'Totals, Male: Graduated (Tot. M)',
 'Totals, Male: Hispanics of any race (Tot. M)',
 'Totals, Male: Left Institution (not graduated) (Tot. M)',
 'Totals, Male: American Indian/Alaska Native (Tot. M)',
 'Totals, Male: Native Hawaiian/Other Pacific Islander (Tot. M)',
 'Totals, Male: Two or more races (Tot. M)',
 'Totals, Male: Total Declared Majors (Tot. M)',
 'Totals, Male: US Citizens (Tot. M)',
 'Totals, Male: White (Tot. M)',
 'Minors: Female: Asian (Min. F)',
 'Minors: Female: Black/African American (Min. F)',
 'Minors: Female: Native Hawaiian/Other Pacific Islander (Min. F)',
 'Minors: Female: American Indian/Alaska Native (Min. F)',
 'Minors: Female: Hispanics of any race (Min. F)',
 'Minors: Female: Two or more races (Min. F)',
 'Minors: Female: Total Declared Minors (Min. F)',
 'Minors: Female: White (Min. F)',
 'Minors: Male: Asian (Min. M)',
 'Minors: Male: Black/African American (Min. M)',
 'Minors: Male: Native Hawaiian/Other Pacific Islander (Min. M)',
 'Minors: Male: American Indian/Alaska Native (Min. M)',
 'Minors: Male: Hispanics of any race (Min. M)',
 'Minors: Male: Two or more races (Min. M)',
 'Minors: Male: Total Declared Minors (Min. M)',
 'Minors: Male: White (Min. M)',
 'Nonresident Alien (Acpt. F)',
 'Race/Ethnicity Unknown (Acpt. F)',
 'Nonresident Alien (Acpt. M)',
 'Race/Ethnicity Unknown (Acpt. M)',
 'Nonresident Alien (App. F)',
 'Race/Ethnicity Unknown (App. F)',
 'Nonresident Alien (App. M)',
 'Race/Ethnicity Unknown (App. M)',
 'Nonresident Alien (Enrl F)',
 'Race/Ethnicity Unknown (Enrl F)',
 'Nonresident Alien (Enrl M)',
 'Race/Ethnicity Unknown (Enrl M)',
 'Nonresident Alien (Fshm F)',
 'Race/Ethnicity Unknown (Fshm F)',
 'Nonresident Alien (Fshm M)',
 'Race/Ethnicity Unknown (Fshm M)',
 'Nonresident Alien (Jun. F)',
 'Race/Ethnicity Unknown (Jun. F)',
 'Nonresident Alien (Jun. M)',
 'Race/Ethnicity Unknown (Jun. M)',
 'Nonresident Alien (Min. F)',
 'Race/Ethnicity Unknown (Min. F)',
 'Nonresident Alien (Min. M)',
 'Race/Ethnicity Unknown (Min. M)',
 'Nonresident Alien (5 Sen F)',
 'Race/Ethnicity Unknown (5 Sen F)',
 'Nonresident Alien (Sen. F)',
 'Race/Ethnicity Unknown (Sen. F)',
 'Nonresident Alien (5 Sen M)',
 'Race/Ethnicity Unknown (5 Sen M)',
 'Nonresident Alien (Sen. M)',
 'Race/Ethnicity Unknown (Sen. M)',
 'Nonresident Alien (Sph. F)',
 'Race/Ethnicity Unknown (Sph. F)',
 'Nonresident Alien (Sph. M)',
 'Race/Ethnicity Unknown (Sph. M)',
 'Nonresident Alien (Min. F).1',
 'Race/Ethnicity Unknown (Min. F).1',
 'Nonresident Alien (Min. M).1',
 'Race/Ethnicity Unknown (Min. M).1',
 'Nonresident Alien (Min. F).2',
 'Race/Ethnicity Unknown (Min. F).2',
 'Nonresident Alien (Min. M).2',
 'Race/Ethnicity Unknown (Min. M).2',
 'Nonresident Alien (Tot. F)',
 'Race/Ethnicity Unknown (Tot. F)',
 'Nonresident Alien (Tot. M)',
 'Race/Ethnicity Unknown (Tot. M)']

In [5]:
ncwit['NCWIT Participant']

0       Extension Services, Academic Alliance
1       Extension Services, Academic Alliance
2       Extension Services, Academic Alliance
3       Extension Services, Academic Alliance
4       Extension Services, Academic Alliance
5       Extension Services, Academic Alliance
6       Extension Services, Academic Alliance
7       Extension Services, Academic Alliance
8       Extension Services, Academic Alliance
9       Extension Services, Academic Alliance
10      Extension Services, Academic Alliance
11      Extension Services, Academic Alliance
12      Extension Services, Academic Alliance
13      Extension Services, Academic Alliance
14      Extension Services, Academic Alliance
15      Extension Services, Academic Alliance
16      Extension Services, Academic Alliance
17      Extension Services, Academic Alliance
18      Extension Services, Academic Alliance
19      Extension Services, Academic Alliance
20      Extension Services, Academic Alliance
21      Extension Services, Academic Alliance
22      Extension Services, Academic Alliance
23      Extension Services, Academic Alliance
24       Academic Alliance, Academic Alliance
25       Academic Alliance, Academic Alliance
26       Academic Alliance, Academic Alliance
27       Academic Alliance, Academic Alliance
28       Academic Alliance, Academic Alliance
29       Academic Alliance, Academic Alliance
                        ...
2875                        Academic Alliance
2876                        Academic Alliance
2877                        Academic Alliance
2878                        Academic Alliance
2879                        Academic Alliance
2880                        Academic Alliance
2881                        Academic Alliance
2882                        Academic Alliance
2883                        Academic Alliance
2884                        Academic Alliance
2885                        Academic Alliance
2886                        Academic Alliance
2887                        Academic Alliance
2888                        Academic Alliance
2889                        Academic Alliance
2890                        Academic Alliance
2891                        Academic Alliance
2892                        Academic Alliance
2893                        Academic Alliance
2894                        Academic Alliance
2895                        Academic Alliance
2896                        Academic Alliance
2897                        Academic Alliance
2898                        Academic Alliance
2899                        Academic Alliance
2900                        Academic Alliance
2901                        Academic Alliance
2902                        Academic Alliance
2903                        Academic Alliance
2904                        Academic Alliance
Name: NCWIT Participant, Length: 2905, dtype: object

In [6]:
ncwit['NCWIT Participant'].unique()

array(['Extension Services, Academic Alliance',
       'Academic Alliance, Academic Alliance', 'Academic Alliance',
       'Academic Alliance, IPEDS'], dtype=object)

In [7]:
ncwit['NCWIT Participant'] = ncwit['NCWIT Participant'].map({'Extension Services, Academic Alliance':'Extension Services', 'Academic Alliance':'Academic Alliance','Academic Alliance, Academic Alliance':'Academic Alliance','Academic Alliance, IPEDS':'Academic Alliance'})

In [8]:
ncwit['NCWIT Participant']

0       Extension Services
1       Extension Services
2       Extension Services
3       Extension Services
4       Extension Services
5       Extension Services
6       Extension Services
7       Extension Services
8       Extension Services
9       Extension Services
10      Extension Services
11      Extension Services
12      Extension Services
13      Extension Services
14      Extension Services
15      Extension Services
16      Extension Services
17      Extension Services
18      Extension Services
19      Extension Services
20      Extension Services
21      Extension Services
22      Extension Services
23      Extension Services
24       Academic Alliance
25       Academic Alliance
26       Academic Alliance
27       Academic Alliance
28       Academic Alliance
29       Academic Alliance
               ...
2875     Academic Alliance
2876     Academic Alliance
2877     Academic Alliance
2878     Academic Alliance
2879     Academic Alliance
2880     Academic Alliance
2881     Academic Alliance
2882     Academic Alliance
2883     Academic Alliance
2884     Academic Alliance
2885     Academic Alliance
2886     Academic Alliance
2887     Academic Alliance
2888     Academic Alliance
2889     Academic Alliance
2890     Academic Alliance
2891     Academic Alliance
2892     Academic Alliance
2893     Academic Alliance
2894     Academic Alliance
2895     Academic Alliance
2896     Academic Alliance
2897     Academic Alliance
2898     Academic Alliance
2899     Academic Alliance
2900     Academic Alliance
2901     Academic Alliance
2902     Academic Alliance
2903     Academic Alliance
2904     Academic Alliance
Name: NCWIT Participant, Length: 2905, dtype: object

In [9]:
ncwit['NCWIT Participant'].unique()

array(['Extension Services', 'Academic Alliance'], dtype=object)

In [10]:
ncwit['NCWIT Participant'].nunique()

2

In [11]:
ncwit['NCWIT Participant'].value_counts()

Academic Alliance     1732
Extension Services    1173
Name: NCWIT Participant, dtype: int64

In [12]:
ncwit['School Year'].unique()

array(['2005-2006', '2006-2007', '2007-2008', '2008-2009', '2009-2010',
       '2010-2011', '2011-2012', '2004-2005', '2012-2013', '2013-2014',
       '2014-2015', '2003-2004', '2015-2016', '2016-2017'], dtype=object)

In [13]:
ncwit['School Year'].value_counts()

2011-2012    313
2009-2010    308
2010-2011    300
2008-2009    290
2007-2008    264
2006-2007    231
2005-2006    215
2004-2005    201
2015-2016    200
2014-2015    188
2013-2014    173
2012-2013    162
2016-2017     45
2003-2004     15
Name: School Year, dtype: int64

In [14]:
years = ncwit['School Year'].unique()

In [15]:
years.sort()

In [16]:
years

array(['2003-2004', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013',
       '2013-2014', '2014-2015', '2015-2016', '2016-2017'], dtype=object)

In [17]:
ncwit['Totals, Female: Graduated (Tot. F)']

0       14.0
1       10.0
2        4.0
3        5.0
4        6.0
5        7.0
6        3.0
7        0.0
8        9.0
9        4.0
10      10.0
11       2.0
12       2.0
13       7.0
14       3.0
15       4.0
16      10.0
17       NaN
18       NaN
19      21.0
20      35.0
21      40.0
22      42.0
23      51.0
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
2875     NaN
2876     NaN
2877     NaN
2878     NaN
2879     NaN
2880     NaN
2881     NaN
2882     NaN
2883     NaN
2884     NaN
2885     6.0
2886     NaN
2887     NaN
2888     8.0
2889     NaN
2890     0.0
2891    21.0
2892    16.0
2893    10.0
2894     NaN
2895     NaN
2896     NaN
2897     NaN
2898     NaN
2899     NaN
2900     NaN
2901     NaN
2902     NaN
2903     NaN
2904     NaN
Name: Totals, Female: Graduated (Tot. F), Length: 2905, dtype: float64

In [18]:
ncwit['Totals, Female: Graduated (Tot. F)'] = ncwit['Totals, Female: Graduated (Tot. F)'].fillna(0)

In [19]:
ncwit['Totals, Female: Graduated (Tot. F)']

0       14.0
1       10.0
2        4.0
3        5.0
4        6.0
5        7.0
6        3.0
7        0.0
8        9.0
9        4.0
10      10.0
11       2.0
12       2.0
13       7.0
14       3.0
15       4.0
16      10.0
17       0.0
18       0.0
19      21.0
20      35.0
21      40.0
22      42.0
23      51.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
2875     0.0
2876     0.0
2877     0.0
2878     0.0
2879     0.0
2880     0.0
2881     0.0
2882     0.0
2883     0.0
2884     0.0
2885     6.0
2886     0.0
2887     0.0
2888     8.0
2889     0.0
2890     0.0
2891    21.0
2892    16.0
2893    10.0
2894     0.0
2895     0.0
2896     0.0
2897     0.0
2898     0.0
2899     0.0
2900     0.0
2901     0.0
2902     0.0
2903     0.0
2904     0.0
Name: Totals, Female: Graduated (Tot. F), Length: 2905, dtype: float64

In [20]:
totgradf = ncwit['Totals, Female: Graduated (Tot. F)']

In [21]:
totgradf

0       14.0
1       10.0
2        4.0
3        5.0
4        6.0
5        7.0
6        3.0
7        0.0
8        9.0
9        4.0
10      10.0
11       2.0
12       2.0
13       7.0
14       3.0
15       4.0
16      10.0
17       0.0
18       0.0
19      21.0
20      35.0
21      40.0
22      42.0
23      51.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
2875     0.0
2876     0.0
2877     0.0
2878     0.0
2879     0.0
2880     0.0
2881     0.0
2882     0.0
2883     0.0
2884     0.0
2885     6.0
2886     0.0
2887     0.0
2888     8.0
2889     0.0
2890     0.0
2891    21.0
2892    16.0
2893    10.0
2894     0.0
2895     0.0
2896     0.0
2897     0.0
2898     0.0
2899     0.0
2900     0.0
2901     0.0
2902     0.0
2903     0.0
2904     0.0
Name: Totals, Female: Graduated (Tot. F), Length: 2905, dtype: float64

In [22]:
ncwit['Enroll, Female: New Enrollments (Enrl F)']

0        2.0
1        0.0
2        2.0
3        3.0
4        4.0
5        3.0
6        7.0
7        9.0
8        6.0
9        7.0
10       1.0
11       5.0
12      17.0
13       9.0
14      15.0
15      13.0
16      15.0
17      39.0
18      34.0
19      28.0
20      18.0
21      23.0
22      30.0
23      32.0
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
2875     NaN
2876     NaN
2877     NaN
2878     NaN
2879     NaN
2880     NaN
2881     NaN
2882     NaN
2883     NaN
2884     NaN
2885     NaN
2886     NaN
2887     NaN
2888     9.0
2889     NaN
2890    10.0
2891    12.0
2892     8.0
2893     9.0
2894     NaN
2895     NaN
2896     NaN
2897     NaN
2898     NaN
2899     NaN
2900     NaN
2901     NaN
2902     NaN
2903     NaN
2904     NaN
Name: Enroll, Female: New Enrollments (Enrl F), Length: 2905, dtype: float64

In [23]:
ncwit['Enroll, Female: New Enrollments (Enrl F)'] = ncwit['Enroll, Female: New Enrollments (Enrl F)'].fillna(0)

In [24]:
ncwit['Enroll, Female: New Enrollments (Enrl F)']

0        2.0
1        0.0
2        2.0
3        3.0
4        4.0
5        3.0
6        7.0
7        9.0
8        6.0
9        7.0
10       1.0
11       5.0
12      17.0
13       9.0
14      15.0
15      13.0
16      15.0
17      39.0
18      34.0
19      28.0
20      18.0
21      23.0
22      30.0
23      32.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
2875     0.0
2876     0.0
2877     0.0
2878     0.0
2879     0.0
2880     0.0
2881     0.0
2882     0.0
2883     0.0
2884     0.0
2885     0.0
2886     0.0
2887     0.0
2888     9.0
2889     0.0
2890    10.0
2891    12.0
2892     8.0
2893     9.0
2894     0.0
2895     0.0
2896     0.0
2897     0.0
2898     0.0
2899     0.0
2900     0.0
2901     0.0
2902     0.0
2903     0.0
2904     0.0
Name: Enroll, Female: New Enrollments (Enrl F), Length: 2905, dtype: float64

In [25]:
yearctfgrad = {}
for y in years:
    yearctfgrad[y] = float(0)

In [26]:
yearctfgrad

{'2003-2004': 0.0,
 '2004-2005': 0.0,
 '2005-2006': 0.0,
 '2006-2007': 0.0,
 '2007-2008': 0.0,
 '2008-2009': 0.0,
 '2009-2010': 0.0,
 '2010-2011': 0.0,
 '2011-2012': 0.0,
 '2012-2013': 0.0,
 '2013-2014': 0.0,
 '2014-2015': 0.0,
 '2015-2016': 0.0,
 '2016-2017': 0.0}

In [27]:
ncwit['NCWIT Participant']

0       Extension Services
1       Extension Services
2       Extension Services
3       Extension Services
4       Extension Services
5       Extension Services
6       Extension Services
7       Extension Services
8       Extension Services
9       Extension Services
10      Extension Services
11      Extension Services
12      Extension Services
13      Extension Services
14      Extension Services
15      Extension Services
16      Extension Services
17      Extension Services
18      Extension Services
19      Extension Services
20      Extension Services
21      Extension Services
22      Extension Services
23      Extension Services
24       Academic Alliance
25       Academic Alliance
26       Academic Alliance
27       Academic Alliance
28       Academic Alliance
29       Academic Alliance
               ...
2875     Academic Alliance
2876     Academic Alliance
2877     Academic Alliance
2878     Academic Alliance
2879     Academic Alliance
2880     Academic Alliance
2881     Academic Alliance
2882     Academic Alliance
2883     Academic Alliance
2884     Academic Alliance
2885     Academic Alliance
2886     Academic Alliance
2887     Academic Alliance
2888     Academic Alliance
2889     Academic Alliance
2890     Academic Alliance
2891     Academic Alliance
2892     Academic Alliance
2893     Academic Alliance
2894     Academic Alliance
2895     Academic Alliance
2896     Academic Alliance
2897     Academic Alliance
2898     Academic Alliance
2899     Academic Alliance
2900     Academic Alliance
2901     Academic Alliance
2902     Academic Alliance
2903     Academic Alliance
2904     Academic Alliance
Name: NCWIT Participant, Length: 2905, dtype: object

In [28]:
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Extension Services':
        yearctfgrad[row['School Year']] += row['Totals, Female: Graduated (Tot. F)']

In [29]:
yearctfgrad

{'2003-2004': 203.0,
 '2004-2005': 313.0,
 '2005-2006': 294.0,
 '2006-2007': 241.0,
 '2007-2008': 223.0,
 '2008-2009': 312.0,
 '2009-2010': 602.0,
 '2010-2011': 828.0,
 '2011-2012': 1093.0,
 '2012-2013': 1120.0,
 '2013-2014': 1419.0,
 '2014-2015': 1250.0,
 '2015-2016': 1048.0,
 '2016-2017': 0.0}

In [30]:
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Extension Services':
        if row['School Year'] == '2016-2017':
            print (row['Totals, Female: Graduated (Tot. F)'])

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

In [31]:
yearctfgrad

{'2003-2004': 203.0,
 '2004-2005': 313.0,
 '2005-2006': 294.0,
 '2006-2007': 241.0,
 '2007-2008': 223.0,
 '2008-2009': 312.0,
 '2009-2010': 602.0,
 '2010-2011': 828.0,
 '2011-2012': 1093.0,
 '2012-2013': 1120.0,
 '2013-2014': 1419.0,
 '2014-2015': 1250.0,
 '2015-2016': 1048.0,
 '2016-2017': 0.0}

In [32]:
femalegradext = []
for key,value in sorted(yearctfgrad.items()):
    femalegradext.append(value)

In [33]:
femalegradext

[203.0,
 313.0,
 294.0,
 241.0,
 223.0,
 312.0,
 602.0,
 828.0,
 1093.0,
 1120.0,
 1419.0,
 1250.0,
 1048.0,
 0.0]

In [34]:
years

array(['2003-2004', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013',
       '2013-2014', '2014-2015', '2015-2016', '2016-2017'], dtype=object)

In [35]:
yr = []
for val in years:
    yr.append(val)

In [36]:
yr

['2003-2004',
 '2004-2005',
 '2005-2006',
 '2006-2007',
 '2007-2008',
 '2008-2009',
 '2009-2010',
 '2010-2011',
 '2011-2012',
 '2012-2013',
 '2013-2014',
 '2014-2015',
 '2015-2016',
 '2016-2017']

In [37]:
from bokeh.plotting import figure, output_file, show
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6

# output to static HTML file
output_file("lines.html")

source = ColumnDataSource(data=dict(yr = yr, femalegradext = femalegradext))

p = figure(x_range=yr, y_range=(0,1500), plot_height=500, plot_width = 1000, title="Visualization 2", x_axis_label='School Year', y_axis_label='Females Graduated')

# add a line renderer with legend and line thickness
p.line(yr, femalegradext, legend="Extension Services", line_width=2, color = 'red', line_dash="4 4")

p.legend.orientation = "horizontal"
p.legend.location = "top_center"

# show the results
show(p)

In [38]:
yearctfgrad_aa = {}
for y in years:
    yearctfgrad_aa[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Academic Alliance':
        yearctfgrad_aa[row['School Year']] += row['Totals, Female: Graduated (Tot. F)']
femalegradaa = []
for key,value in sorted(yearctfgrad_aa.items()):
    femalegradaa.append(value)

In [39]:
femalegradaa

[0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 26.0, 21.0, 49.0, 25.0, 0.0]

In [40]:
yearctfgrad_aa

{'2003-2004': 0.0,
 '2004-2005': 0.0,
 '2005-2006': 0.0,
 '2006-2007': 0.0,
 '2007-2008': 2.0,
 '2008-2009': 0.0,
 '2009-2010': 0.0,
 '2010-2011': 0.0,
 '2011-2012': 0.0,
 '2012-2013': 26.0,
 '2013-2014': 21.0,
 '2014-2015': 49.0,
 '2015-2016': 25.0,
 '2016-2017': 0.0}

In [41]:
from bokeh.plotting import figure, output_file, show
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6

# output to static HTML file
output_file("lines.html")

#source = ColumnDataSource(data=dict(yr = yr, femalegradext = femalegradext))

p = figure(x_range=yr, y_range=(0,1500), plot_height=500, plot_width = 1000, title="Visualization 2", x_axis_label='School Year', y_axis_label='Females Graduated')

# add a line renderer with legend and line thickness
p.line(yr, femalegradext, legend="Extension Services", line_width=2, color = 'red', line_dash="4 4")
p.line(yr,femalegradaa, legend="Academic Alliance", line_width=2,color = 'blue')

p.legend.orientation = "horizontal"
p.legend.location = "top_center"

# show the results
show(p)

In [42]:
yearctmgrad = {}
for y in years:
    yearctmgrad[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Academic Alliance':
        yearctmgrad[row['School Year']] += row['Totals, Male: Graduated (Tot. M)']
malegradex = []
for key,value in sorted(yearctmgrad.items()):
    malegradex.append(value)

In [43]:
malegradex

[0.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [44]:
yearctmgrad

{'2003-2004': 0.0,
 '2004-2005': nan,
 '2005-2006': nan,
 '2006-2007': nan,
 '2007-2008': nan,
 '2008-2009': nan,
 '2009-2010': nan,
 '2010-2011': nan,
 '2011-2012': nan,
 '2012-2013': nan,
 '2013-2014': nan,
 '2014-2015': nan,
 '2015-2016': nan,
 '2016-2017': nan}

In [45]:
ncwit['Totals, Male: Graduated (Tot. M)'] = ncwit['Totals, Male: Graduated (Tot. M)'].fillna(0)

In [46]:
yearctmgrad_aa = {}
for y in years:
    yearctmgrad_aa[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Academic Alliance':
        yearctmgrad_aa[row['School Year']] += row['Totals, Male: Graduated (Tot. M)']
malegradaa = []
for key,value in sorted(yearctmgrad_aa.items()):
    malegradaa.append(value)

In [47]:
femalegradaa

[0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 26.0, 21.0, 49.0, 25.0, 0.0]

In [48]:
yrex = yr

In [49]:
yrex

['2003-2004',
 '2004-2005',
 '2005-2006',
 '2006-2007',
 '2007-2008',
 '2008-2009',
 '2009-2010',
 '2010-2011',
 '2011-2012',
 '2012-2013',
 '2013-2014',
 '2014-2015',
 '2015-2016',
 '2016-2017']

In [50]:
yearctfgrad

{'2003-2004': 203.0,
 '2004-2005': 313.0,
 '2005-2006': 294.0,
 '2006-2007': 241.0,
 '2007-2008': 223.0,
 '2008-2009': 312.0,
 '2009-2010': 602.0,
 '2010-2011': 828.0,
 '2011-2012': 1093.0,
 '2012-2013': 1120.0,
 '2013-2014': 1419.0,
 '2014-2015': 1250.0,
 '2015-2016': 1048.0,
 '2016-2017': 0.0}

In [51]:
yrex = []
for key, value in sorted(yearctfgrad.items()):
    if value != float(0):
        yrex.append(key)

In [52]:
yrex

['2003-2004',
 '2004-2005',
 '2005-2006',
 '2006-2007',
 '2007-2008',
 '2008-2009',
 '2009-2010',
 '2010-2011',
 '2011-2012',
 '2012-2013',
 '2013-2014',
 '2014-2015',
 '2015-2016']

In [53]:
yraa = []
for key, value in sorted(yearctmgrad_aa.items()):
    if value != float(0):
        yraa.append(key)

In [54]:
yraa

['2012-2013', '2013-2014', '2014-2015', '2015-2016']

In [55]:
yearctfgrad_aa

{'2003-2004': 0.0,
 '2004-2005': 0.0,
 '2005-2006': 0.0,
 '2006-2007': 0.0,
 '2007-2008': 2.0,
 '2008-2009': 0.0,
 '2009-2010': 0.0,
 '2010-2011': 0.0,
 '2011-2012': 0.0,
 '2012-2013': 26.0,
 '2013-2014': 21.0,
 '2014-2015': 49.0,
 '2015-2016': 25.0,
 '2016-2017': 0.0}

In [56]:
yearctmgrad_aa

{'2003-2004': 0.0,
 '2004-2005': 0.0,
 '2005-2006': 0.0,
 '2006-2007': 0.0,
 '2007-2008': 0.0,
 '2008-2009': 0.0,
 '2009-2010': 0.0,
 '2010-2011': 0.0,
 '2011-2012': 0.0,
 '2012-2013': 78.0,
 '2013-2014': 73.0,
 '2014-2015': 288.0,
 '2015-2016': 107.0,
 '2016-2017': 0.0}

In [57]:
yearctfgrad

{'2003-2004': 203.0,
 '2004-2005': 313.0,
 '2005-2006': 294.0,
 '2006-2007': 241.0,
 '2007-2008': 223.0,
 '2008-2009': 312.0,
 '2009-2010': 602.0,
 '2010-2011': 828.0,
 '2011-2012': 1093.0,
 '2012-2013': 1120.0,
 '2013-2014': 1419.0,
 '2014-2015': 1250.0,
 '2015-2016': 1048.0,
 '2016-2017': 0.0}

In [58]:
yearctmgrad

{'2003-2004': 0.0,
 '2004-2005': nan,
 '2005-2006': nan,
 '2006-2007': nan,
 '2007-2008': nan,
 '2008-2009': nan,
 '2009-2010': nan,
 '2010-2011': nan,
 '2011-2012': nan,
 '2012-2013': nan,
 '2013-2014': nan,
 '2014-2015': nan,
 '2015-2016': nan,
 '2016-2017': nan}

In [59]:
yearctmgrad = {}
for y in years:
    yearctmgrad[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Extension Services':
        yearctmgrad[row['School Year']] += row['Totals, Male: Graduated (Tot. M)']
malegradex = []
for key,value in sorted(yearctmgrad.items()):
    if key in yrex:
        malegradex.append(value)

In [60]:
malegradex

[933.0,
 1584.0,
 1786.0,
 1642.0,
 1663.0,
 1945.0,
 3662.0,
 5235.0,
 6585.0,
 6775.0,
 8289.0,
 6789.0,
 5007.0]

In [61]:
femalegradext = []
for key,value in sorted(yearctfgrad.items()):
    if key in yrex:
        femalegradext.append(value)

In [62]:
femalegradext

[203.0,
 313.0,
 294.0,
 241.0,
 223.0,
 312.0,
 602.0,
 828.0,
 1093.0,
 1120.0,
 1419.0,
 1250.0,
 1048.0]

In [63]:
ratiogradex = []
for i in range(0, len(femalegradext)):
    ratiogradex.append(float(femalegradext[i]/malegradex[i]))

In [64]:
ratiogradex

[0.21757770632368703,
 0.1976010101010101,
 0.16461366181410975,
 0.14677222898903775,
 0.13409500901984367,
 0.16041131105398457,
 0.16439104314582195,
 0.15816618911174785,
 0.1659832953682612,
 0.16531365313653137,
 0.17119073470865,
 0.18412137280895566,
 0.20930697024166167]

In [65]:
from bokeh.plotting import figure, output_file, show
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6

# output to static HTML file
output_file("lines.html")

#source = ColumnDataSource(data=dict(yr = yr, femalegradext = femalegradext))

p = figure(x_range=yrex, y_range=(0,1), plot_height=500, plot_width = 1000, title="Visualization 2", x_axis_label='School Year', y_axis_label='Females to Male Ratio')

# add a line renderer with legend and line thickness
p.line(yrex, ratiogradex, legend="Extension Services", line_width=2, color = 'red', line_dash="4 4")

p.legend.orientation = "horizontal"
p.legend.location = "top_center"

# show the results
show(p)

In [66]:
yraa

['2012-2013', '2013-2014', '2014-2015', '2015-2016']

In [67]:
yearctfgrad_aa

{'2003-2004': 0.0,
 '2004-2005': 0.0,
 '2005-2006': 0.0,
 '2006-2007': 0.0,
 '2007-2008': 2.0,
 '2008-2009': 0.0,
 '2009-2010': 0.0,
 '2010-2011': 0.0,
 '2011-2012': 0.0,
 '2012-2013': 26.0,
 '2013-2014': 21.0,
 '2014-2015': 49.0,
 '2015-2016': 25.0,
 '2016-2017': 0.0}

In [68]:
yearctmgrad_aa

{'2003-2004': 0.0,
 '2004-2005': 0.0,
 '2005-2006': 0.0,
 '2006-2007': 0.0,
 '2007-2008': 0.0,
 '2008-2009': 0.0,
 '2009-2010': 0.0,
 '2010-2011': 0.0,
 '2011-2012': 0.0,
 '2012-2013': 78.0,
 '2013-2014': 73.0,
 '2014-2015': 288.0,
 '2015-2016': 107.0,
 '2016-2017': 0.0}

In [69]:
femalegradaa = []
for key,value in sorted(yearctfgrad_aa.items()):
    if key in yraa:
        femalegradaa.append(value)

In [70]:
femalegradaa

[26.0, 21.0, 49.0, 25.0]

In [71]:
malegradaa = []
for key,value in sorted(yearctmgrad_aa.items()):
    if key in yraa:
        malegradaa.append(value)

In [72]:
malegradaa

[78.0, 73.0, 288.0, 107.0]

In [73]:
ratiogradaa = []
for i in range(0, len(femalegradaa)):
    ratiogradaa.append(float(femalegradaa[i]/malegradaa[i]))

In [74]:
ratiogradaa

[0.3333333333333333,
 0.2876712328767123,
 0.1701388888888889,
 0.2336448598130841]

In [75]:
from bokeh.plotting import figure, output_file, show
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6

# output to static HTML file
output_file("lines.html")

#source = ColumnDataSource(data=dict(yr = yr, femalegradext = femalegradext))

p = figure(x_range=yrex, y_range=(0,1), plot_height=500, plot_width = 1000, title="Visualization 2", x_axis_label='School Year', y_axis_label='Females to Male Ratio')

# add a line renderer with legend and line thickness
p.line(yrex, ratiogradex, legend="Extension Services", line_width=2, color = 'red', line_dash="4 4")
p.line(yraa, ratiogradaa, legend="Academic Alliance", line_width=2, color = 'blue')

p.legend.orientation = "horizontal"
p.legend.location = "top_center"

# show the results
show(p)

In [76]:
ncwit['Enroll, Female: New Enrollments (Enrl F)'] = ncwit['Enroll, Female: New Enrollments (Enrl F)'].fillna(0)

In [77]:
ncwit['Enroll, Male: New Enrollments (Enrl M)'] = ncwit['Enroll, Male: New Enrollments (Enrl M)'].fillna(0)

In [78]:
ncwit['Totals, Female: Left Institution (not graduated) (Tot. F)'] = ncwit['Totals, Female: Left Institution (not graduated) (Tot. F)'].fillna(0)

In [79]:
ncwit['Totals, Male: Left Institution (not graduated) (Tot. M)'] = ncwit['Totals, Male: Left Institution (not graduated) (Tot. M)'].fillna(0)

In [80]:
yearctmenrollex = {}
for y in years:
    yearctmenrollex[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Extension Services':
        yearctmenrollex[row['School Year']] += row['Enroll, Male: New Enrollments (Enrl M)']

In [81]:
yearctmenrollex

{'2003-2004': 1801.0,
 '2004-2005': 2053.0,
 '2005-2006': 2339.0,
 '2006-2007': 3021.0,
 '2007-2008': 3148.0,
 '2008-2009': 4718.0,
 '2009-2010': 6325.0,
 '2010-2011': 7952.0,
 '2011-2012': 9782.0,
 '2012-2013': 11162.0,
 '2013-2014': 11869.0,
 '2014-2015': 12837.0,
 '2015-2016': 7691.0,
 '2016-2017': 4861.0}

In [82]:
yearctfenrollex = {}
for y in years:
    yearctfenrollex[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Extension Services':
        yearctfenrollex[row['School Year']] += row['Enroll, Female: New Enrollments (Enrl F)']

In [83]:
yearctfenrollex

{'2003-2004': 379.0,
 '2004-2005': 364.0,
 '2005-2006': 406.0,
 '2006-2007': 524.0,
 '2007-2008': 519.0,
 '2008-2009': 792.0,
 '2009-2010': 1125.0,
 '2010-2011': 1403.0,
 '2011-2012': 1616.0,
 '2012-2013': 1955.0,
 '2013-2014': 2169.0,
 '2014-2015': 2479.0,
 '2015-2016': 2049.0,
 '2016-2017': 1321.0}

In [84]:
yrex_en = []
for key, value in sorted(yearctmenrollex.items()):
    if value != float(0):
        yrex_en.append(key)

In [85]:
maleenrollex = []
for key,value in sorted(yearctmenrollex.items()):
    if key in yrex_en:
        maleenrollex.append(value)
femaleenrollex = []
for key,value in sorted(yearctfenrollex.items()):
    if key in yrex_en:
        femaleenrollex.append(value)

In [86]:
ratioenrollex = []
for i in range(0, len(femaleenrollex)):
    ratioenrollex.append(float(femaleenrollex[i]/maleenrollex[i]))

In [87]:
ratioenrollex

[0.21043864519711272,
 0.17730150998538724,
 0.1735784523300556,
 0.17345249917245945,
 0.16486658195679796,
 0.1678677405680373,
 0.17786561264822134,
 0.17643360160965796,
 0.16520139030873032,
 0.17514782297079376,
 0.182744965877496,
 0.19311365583859158,
 0.2664152905994019,
 0.2717547829664678]

In [88]:
yearctmenrollaa = {}
for y in years:
    yearctmenrollaa[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Academic Alliance':
        yearctmenrollaa[row['School Year']] += row['Enroll, Male: New Enrollments (Enrl M)']

In [89]:
yearctfenrollaa = {}
for y in years:
    yearctfenrollaa[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Academic Alliance':
        yearctfenrollaa[row['School Year']] += row['Enroll, Female: New Enrollments (Enrl F)']

In [90]:
yearctmenrollaa

{'2003-2004': 0.0,
 '2004-2005': 0.0,
 '2005-2006': 0.0,
 '2006-2007': 0.0,
 '2007-2008': 0.0,
 '2008-2009': 148.0,
 '2009-2010': 101.0,
 '2010-2011': 128.0,
 '2011-2012': 135.0,
 '2012-2013': 142.0,
 '2013-2014': 158.0,
 '2014-2015': 176.0,
 '2015-2016': 443.0,
 '2016-2017': 177.0}

In [91]:
yraa_en = []
for key, value in sorted(yearctmenrollaa.items()):
    if value != float(0):
        yraa_en.append(key)
maleenrollaa = []
for key,value in sorted(yearctmenrollaa.items()):
    if key in yraa_en:
        maleenrollaa.append(value)
femaleenrollaa = []
for key,value in sorted(yearctfenrollaa.items()):
    if key in yraa_en:
        femaleenrollaa.append(value)

In [92]:
femaleenrollaa

[19.0, 29.0, 20.0, 36.0, 32.0, 35.0, 47.0, 84.0, 72.0]

In [93]:
ratioenrollaa = []
for i in range(0, len(femaleenrollaa)):
    ratioenrollaa.append(float(femaleenrollaa[i]/maleenrollaa[i]))

In [94]:
ratioenrollaa

[0.12837837837837837,
 0.2871287128712871,
 0.15625,
 0.26666666666666666,
 0.22535211267605634,
 0.22151898734177214,
 0.26704545454545453,
 0.18961625282167044,
 0.4067796610169492]

In [95]:
yraa_en

['2008-2009',
 '2009-2010',
 '2010-2011',
 '2011-2012',
 '2012-2013',
 '2013-2014',
 '2014-2015',
 '2015-2016',
 '2016-2017']

In [96]:
from bokeh.plotting import figure, output_file, show
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6

# output to static HTML file
output_file("lines2.html")

#source = ColumnDataSource(data=dict(yr = yr, femalegradext = femalegradext))

p = figure(x_range=yrex_en, y_range=(0,1), plot_height=500, plot_width = 1000, title="Visualization 2", x_axis_label='School Year', y_axis_label='Females to Male Ratio')

# add a line renderer with legend and line thickness
p.line(yrex_en, ratioenrollex, legend="Extension Services", line_width=2, color = 'red', line_dash="4 4")
p.line(yraa_en, ratioenrollaa, legend="Academic Alliance", line_width=2, color = 'blue')

p.legend.orientation = "horizontal"
p.legend.location = "top_center"

# show the results
show(p)

In [97]:
ratioenrollaa

[0.12837837837837837,
 0.2871287128712871,
 0.15625,
 0.26666666666666666,
 0.22535211267605634,
 0.22151898734177214,
 0.26704545454545453,
 0.18961625282167044,
 0.4067796610169492]

In [98]:
yraa_en

['2008-2009',
 '2009-2010',
 '2010-2011',
 '2011-2012',
 '2012-2013',
 '2013-2014',
 '2014-2015',
 '2015-2016',
 '2016-2017']

In [99]:
yearctmleftex = {}
for y in years:
    yearctmleftex[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Extension Services':
        yearctmleftex[row['School Year']] += row['Totals, Male: Left Institution (not graduated) (Tot. M)']

In [100]:
yearctfleftex = {}
for y in years:
    yearctfleftex[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Extension Services':
        yearctfleftex[row['School Year']] += row['Totals, Female: Left Institution (not graduated) (Tot. F)']

In [101]:
yearctfleftex

{'2003-2004': 48.0,
 '2004-2005': 86.0,
 '2005-2006': 82.0,
 '2006-2007': 64.0,
 '2007-2008': 84.0,
 '2008-2009': 75.0,
 '2009-2010': 178.0,
 '2010-2011': 234.0,
 '2011-2012': 338.0,
 '2012-2013': 543.0,
 '2013-2014': 553.0,
 '2014-2015': 332.0,
 '2015-2016': 354.0,
 '2016-2017': 0.0}

In [102]:
yrex_le = []
for key, value in sorted(yearctmleftex.items()):
    if value != float(0):
        yrex_le.append(key)
maleleftex = []
for key,value in sorted(yearctmleftex.items()):
    if key in yrex_le:
        maleleftex.append(value)
femaleleftex = []
for key,value in sorted(yearctfleftex.items()):
    if key in yrex_le:
        femaleleftex.append(value)

In [103]:
ratioleftex = []
for i in range(0, len(femaleleftex)):
    ratioleftex.append(float(femaleleftex[i]/maleleftex[i]))

In [104]:
yearctmleftaa = {}
for y in years:
    yearctmleftaa[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Academic Alliance':
        yearctmleftaa[row['School Year']] += row['Totals, Male: Left Institution (not graduated) (Tot. M)']

In [105]:
yearctfleftaa = {}
for y in years:
    yearctfleftaa[y] = float(0)
for index,row in ncwit.iterrows():
    if row['NCWIT Participant'] == 'Academic Alliance':
        yearctfleftaa[row['School Year']] += row['Totals, Female: Left Institution (not graduated) (Tot. F)']

In [106]:
yraa_le = []
for key, value in sorted(yearctmleftaa.items()):
    if value != float(0):
        yraa_le.append(key)
maleleftaa = []
for key,value in sorted(yearctmleftaa.items()):
    if key in yraa_le:
        maleleftaa.append(value)
femaleleftaa = []
for key,value in sorted(yearctfleftaa.items()):
    if key in yraa_le:
        femaleleftaa.append(value)

In [107]:
ratioleftaa = []
for i in range(0, len(femaleleftaa)):
    ratioleftaa.append(float(femaleleftaa[i]/maleleftaa[i]))

In [108]:
topyval = max(max(ratiogradex),max(ratiogradaa),max(ratioenrollex),max(ratioenrollaa),max(ratioleftex),max(ratioleftaa))

In [109]:
topyval

0.4067796610169492

In [110]:
topyval = topyval + float(topyval/10)

In [111]:
topyval

0.4474576271186441

In [112]:
from bokeh.plotting import figure, output_file, show
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6
from bokeh.models.widgets import Panel, Tabs

# output to static HTML file
output_file("lines4.html")

p1 = figure(x_range=yrex, y_range=(0,topyval), plot_height=500, plot_width = 1000, title="Visualization 2", x_axis_label='School Year', y_axis_label='Females to Male Ratio')
p1.line(yrex, ratiogradex, legend="Extension Services", line_width=2, color = 'red', line_dash="4 4")
p1.line(yraa, ratiogradaa, legend="Academic Alliance", line_width=2, color = 'blue')
p1.circle(yrex, ratiogradex, legend="Extension Services", size=7, color = 'red')
p1.circle(yraa, ratiogradaa, legend="Academic Alliance", size=7, color = 'blue')
p1.legend.orientation = "horizontal"
p1.legend.location = "top_center"
p1.legend.click_policy="hide"
tab1 = Panel(child=p1,title="Graduated")

p2 = figure(x_range=yrex_en, y_range=(0,topyval), plot_height=500, plot_width = 1000, title="Visualization 2", x_axis_label='School Year', y_axis_label='Females to Male Ratio')
p2.line(yrex_en, ratioenrollex, legend="Extension Services", line_width=2, color = 'red', line_dash="4 4")
p2.line(yraa_en, ratioenrollaa, legend="Academic Alliance", line_width=2, color = 'blue')
p2.circle(yrex_en, ratioenrollex, legend="Extension Services", size=7, color = 'red')
p2.circle(yraa_en, ratioenrollaa, legend="Academic Alliance", size=7, color = 'blue')
p2.legend.orientation = "horizontal"
p2.legend.location = "top_center"
p2.legend.click_policy="hide"
tab2 = Panel(child=p2,title="Enrolled")

p3 = figure(x_range=yrex_le, y_range=(0,topyval), plot_height=500, plot_width = 1000, title="Visualization 2", x_axis_label='School Year', y_axis_label='Females to Male Ratio')
p3.line(yrex_le, ratioleftex, legend="Extension Services", line_width=2, color = 'red', line_dash="4 4")
p3.line(yraa_le, ratioleftaa, legend="Academic Alliance", line_width=2, color = 'blue')
p3.circle(yrex_le, ratioleftex, legend="Extension Services", size=7, color = 'red')
p3.circle(yraa_le, ratioleftaa, legend="Academic Alliance", size=7, color = 'blue')
p3.legend.orientation = "horizontal"
p3.legend.location = "top_center"
p3.legend.click_policy="hide"
tab3 = Panel(child=p3, title="Left Institution")

tabs = Tabs(tabs=[ tab1, tab2, tab3 ])

# show the results
show(tabs)